.background {
    background: rgb(213, 244, 252);
    height: 100vh;
    width: 100%;
    padding: 6vh 0;
}

.container {
    border: 2px solid black;
    border-radius: 25px;
    max-width: 800px;
    margin: auto;
    max-height: 700px;
}

img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    border-radius: 80%;
}

.profile-info {
    display: block;
    min-height: 20vh;
    max-height: 20vh;
    margin: auto;
    text-align: center;
    min-width: 80%;
}

.profile-info:disabled {
    background-color: white;
}